<style>
    .footer
    {
        background-color: black;
        -webkit-backdrop-filter: blur(3px);
        border-radius: 5px;
        box-shadow: 0 5px 30px 0 rgb(255, 255, 255);


    }
    footer{
        display: flex;
       color: whitesmoke;
       width: 100%;
       height: 50%;
       justify-content: space-around;
    }
    .links{
        list-style: none;
    }
    .anchor{
        color: whitesmoke;
        text-decoration: none;

    }
    .made{
        display: flex;
        justify-content: center;
        color:whitesmoke;
        font-weight: lighter;
    }
    .column
    {
        text-align: left;
    }
    .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0; /* Replace with desired background color */
    padding: 20px;
}

.feature {
    text-align: center;
}

.feature img {
    width: 100px; /* Adjust icon size as needed */
    margin-bottom: 10px;
}

.feature h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.feature p {
    font-size: 14px;
    color: #666;
}
.img{
  height: max-content;
  width: 100%;
}
.img img{
width: 100%;

}
    
</style>


<div class="img">
  <img src="https://static5.lenskart.com/media/uploads/whatsapp-1.png" alt="">
</div>




<section class="features">
  <div class="feature">
      <img src="https://assets.bonkerscorner.com/uploads/2021/10/25134929/shipping_under_48.jpg" alt="Shipping Icon">
      <h2>SHIPPING WITHIN 48 HOURS</h2>
      <p>Your order will be shipped within 48 hours from the time since order is placed!</p>
  </div>
  <div class="feature">
      <img src="https://assets.bonkerscorner.com/uploads/2021/10/25134930/free_delivery.jpg" alt="Discount Icon">
      <h2>5% OFF || FREE DELIVERY</h2>
      <p>5% OFF on Pre-paid orders. Free delivery on COD orders above 21499.</p>
  </div>
  <div class="feature">
      <img src="https://assets.bonkerscorner.com/uploads/2021/06/21165927/1592433.jpg" alt="Made in India Icon">
      <h2>MADE IN INDIA</h2>
      <p>Our products are 100% made in India. From raw fabric to the final product!</p>
  </div>
</section>


<div class="footer">
    <footer>
      <div class="column">
        <a href="/" class="">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p>© 2024</p>
      </div>
  
      <div class="column">
  
      </div>
  
      <div class="column">
        <ul class="">
            <li class="links"><h3>Get to know Us</h5></li>
          <li class="links"><a href="#" class="anchor">About Us</a></li>
          <li class="links"><a href="#" class="anchor">Career</a></li>
          <li class="links"><a href="#" class="anchor">Foundation</a></li>
          <li class="links"><a href="#" class="anchor">FAQs</a></li>
        </ul>
      </div>
  
      <div class="column">
        <ul class="">
            <li class="links"><h3>Connect with Us</h5></li>
          <li class="links"><a href="https://www.instagram.com/" class="anchor">Instagram</a></li>
          <li class="links"><a href="https://www.facebook.com/" class="anchor">Facebook</a></li>
          <li class="links"><a href="https://x.com/" class="anchor">X</a></li>
          <li class="links"><a href="https://www.youtube.com/" class="anchor">Youtube</a></li>

        </ul>
      </div>
  
      <div class="column">
        <ul class="">
        <li class="links"><h3>Sypher</h5></li>
          <li class="links"><a href="https://sypher845.github.io/Bootstrap-Introductory-Website/" class="anchor">About Me</a></li>

        </ul>
      </div>
    </footer>
    <div class="made">
        <p> Made with love by Sypher❤️</p>
    </div>
  </div>